# Validation of input tier files

#  import input files

In [173]:
import pandas as pd
import numpy as np

# importing the files

Input = pd.read_excel(r"I:\North America\USEH, East Hanover\PH\BusUnits\FFO\2. Targeting\2022C1\1. Oncology\1.Input\Tier files\STBL\KSQ_TIER_MOCK.XLSX",'Duplicates')

# 1st Qc: Valid all columns are present or not
Input.columns
#shape and size: 
# Input.shape

Index(['CUSTOMER_ID', 'PRODUCT_ID', 'FF_ID', 'SEGMENT_TYPE', 'SEGMENT_VALUE',
       'START_DATE', 'END_DATE'],
      dtype='object')

In [ ]:
# dropping unnecessary columns
import pandas as pd
df = pd.DataFrame(Input).drop(['FF_ID','START_DATE','END_DATE'],axis = 1)
df

In [191]:
# Treating missing values
# There should not be missing values in any of the columns
# df.dropna(how = 'any').shape
df.notnull()
# count null values
df.isnull().sum()

CUSTOMER_ID      0
PRODUCT_ID       0
SEGMENT_TYPE     0
SEGMENT_VALUE    0
dtype: int64

In [153]:
# FOR NGE BRANDS
df1=df[df['SEGMENT_TYPE']=="Segment"] 
df1

       CUSTOMER_ID PRODUCT_ID SEGMENT_TYPE SEGMENT_VALUE
0         10100805        KSQ      Segment          Land
2         10113007        KSQ      Segment          Land
4         10116098        KSQ      Segment          Land
6         10133363        KSQ      Segment          Land
8         10162130        KSQ      Segment          Land
10        10171791        KSQ      Segment          Land
12        10177905        KSQ      Segment          Land
14        10206210        KSQ      Segment          Land
16        10208767        KSQ      Segment          Land
18        10215601        KSQ      Segment        Expand
20        10215781        KSQ      Segment        Expand
22        10227240        KSQ      Segment          Land
24        10240962        KSQ      Segment          Land
26        10243364        KSQ      Segment          Land
28        10249573        KSQ      Segment          Land
30        10250551        KSQ      Segment          Land
32        10251389        KSQ      Segment          Land
34        10264102        KSQ      Segment          Land
36        10277601        KSQ      Segment          Land
38        10277876        KSQ      Segment          Land
40        10296054        KSQ      Segment          Land
42        10296332        KSQ      Segment          Land
44        10302823        KSQ      Segment        Expand
46        10309100        KSQ      Segment          Land
48        10311579        KSQ      Segment          Land
50        10314013        KSQ      Segment          Land
52        10320350        KSQ      Segment        Expand
54        10324153        KSQ      Segment          Land
56        10332063        KSQ      Segment          Land
58        10349049        KSQ      Segment          Land
...            ...        ...          ...           ...
53592      9949965        KSQ      Segment        Defend
53594      9951952        KSQ      Segment          Land
53596      9952604        KSQ      Segment          Land
53598      9953571        KSQ      Segment        Defend
53600      9954799        KSQ      Segment          Land
53602      9954845        KSQ      Segment          Land
53604      9955661        KSQ      Segment          Land
53606      9955850        KSQ      Segment          Land
53608      9959135        KSQ      Segment          Land
53610      9960417        KSQ      Segment        Defend
53612      9961922        KSQ      Segment        Expand
53614      9965075        KSQ      Segment          Land
53616      9965622        KSQ      Segment        Expand
53618      9967266        KSQ      Segment          Land
53620      9968831        KSQ      Segment          Land
53622      9971102        KSQ      Segment        Expand
53624      9974753        KSQ      Segment          Land
53626      9977592        KSQ      Segment          Land
53628      9979636        KSQ      Segment          Land
53630      9979688        KSQ      Segment          Land
53632      9984873        KSQ      Segment          Land
53634      9986601        KSQ      Segment        Expand
53636      9987643        KSQ      Segment        Defend
53638      9989143        KSQ      Segment          Land
53640      9990162        KSQ      Segment        Expand
53642      9990985        KSQ      Segment          Land
53644      9994067        KSQ      Segment          Land
53646      9997240        KSQ      Segment          Land
80472     10100805        KSQ      Segment          Land
80474     10113007        KSQ      Segment          Land

[26826 rows x 4 columns]

In [154]:
df2=df[df['SEGMENT_TYPE']=="Tier"]
df2

       CUSTOMER_ID PRODUCT_ID SEGMENT_TYPE SEGMENT_VALUE
1         10100805        KSQ         Tier             4
3         10113007        KSQ         Tier             3
5         10116098        KSQ         Tier             2
7         10133363        KSQ         Tier             4
9         10162130        KSQ         Tier             3
11        10171791        KSQ         Tier             4
13        10177905        KSQ         Tier             4
15        10206210        KSQ         Tier             4
17        10208767        KSQ         Tier             4
19        10215601        KSQ         Tier             4
21        10215781        KSQ         Tier             2
23        10227240        KSQ         Tier             4
25        10240962        KSQ         Tier             3
27        10243364        KSQ         Tier             4
29        10249573        KSQ         Tier             4
31        10250551        KSQ         Tier             3
33        10251389        KSQ         Tier             4
35        10264102        KSQ         Tier             4
37        10277601        KSQ         Tier             4
39        10277876        KSQ         Tier             4
41        10296054        KSQ         Tier             4
43        10296332        KSQ         Tier             4
45        10302823        KSQ         Tier             1
47        10309100        KSQ         Tier             4
49        10311579        KSQ         Tier             4
51        10314013        KSQ         Tier             4
53        10320350        KSQ         Tier             4
55        10324153        KSQ         Tier             4
57        10332063        KSQ         Tier             2
59        10349049        KSQ         Tier             4
...            ...        ...          ...           ...
53593      9949965        KSQ         Tier             1
53595      9951952        KSQ         Tier             3
53597      9952604        KSQ         Tier             3
53599      9953571        KSQ         Tier             1
53601      9954799        KSQ         Tier             4
53603      9954845        KSQ         Tier             3
53605      9955661        KSQ         Tier             2
53607      9955850        KSQ         Tier             4
53609      9959135        KSQ         Tier             4
53611      9960417        KSQ         Tier             1
53613      9961922        KSQ         Tier             1
53615      9965075        KSQ         Tier             4
53617      9965622        KSQ         Tier             2
53619      9967266        KSQ         Tier             4
53621      9968831        KSQ         Tier             3
53623      9971102        KSQ         Tier             1
53625      9974753        KSQ         Tier             4
53627      9977592        KSQ         Tier             4
53629      9979636        KSQ         Tier             4
53631      9979688        KSQ         Tier             4
53633      9984873        KSQ         Tier             4
53635      9986601        KSQ         Tier             4
53637      9987643        KSQ         Tier             1
53639      9989143        KSQ         Tier             4
53641      9990162        KSQ         Tier             2
53643      9990985        KSQ         Tier             4
53645      9994067        KSQ         Tier             4
53647      9997240        KSQ         Tier             3
80473     10100805        KSQ         Tier             3
80475     10113007        KSQ         Tier             4

[26826 rows x 4 columns]

In [155]:
df3=df[df['SEGMENT_TYPE']=="RANK"]
df3

       CUSTOMER_ID PRODUCT_ID SEGMENT_TYPE SEGMENT_VALUE
53648     10100805        KSQ         RANK             1
53649     10113007        KSQ         RANK             2
53650     10116098        KSQ         RANK             3
53651     10133363        KSQ         RANK             4
53652     10162130        KSQ         RANK             5
53653     10171791        KSQ         RANK             6
53654     10177905        KSQ         RANK             7
53655     10206210        KSQ         RANK             8
53656     10208767        KSQ         RANK             9
53657     10215601        KSQ         RANK            10
53658     10215781        KSQ         RANK            11
53659     10227240        KSQ         RANK            12
53660     10240962        KSQ         RANK            13
53661     10243364        KSQ         RANK            14
53662     10249573        KSQ         RANK            15
53663     10250551        KSQ         RANK            16
53664     10251389        KSQ         RANK            17
53665     10264102        KSQ         RANK            18
53666     10277601        KSQ         RANK            19
53667     10277876        KSQ         RANK            20
53668     10296054        KSQ         RANK            21
53669     10296332        KSQ         RANK            22
53670     10302823        KSQ         RANK            23
53671     10309100        KSQ         RANK            24
53672     10311579        KSQ         RANK            25
53673     10314013        KSQ         RANK            26
53674     10320350        KSQ         RANK            27
53675     10324153        KSQ         RANK            28
53676     10332063        KSQ         RANK            29
53677     10349049        KSQ         RANK            30
...            ...        ...          ...           ...
80445      9951952        KSQ         RANK         26798
80446      9952604        KSQ         RANK         26799
80447      9953571        KSQ         RANK         26800
80448      9954799        KSQ         RANK         26801
80449      9954845        KSQ         RANK         26802
80450      9955661        KSQ         RANK         26803
80451      9955850        KSQ         RANK         26804
80452      9959135        KSQ         RANK         26805
80453      9960417        KSQ         RANK         26806
80454      9961922        KSQ         RANK         26807
80455      9965075        KSQ         RANK         26808
80456      9965622        KSQ         RANK         26809
80457      9967266        KSQ         RANK         26810
80458      9968831        KSQ         RANK         26811
80459      9971102        KSQ         RANK         26812
80460      9974753        KSQ         RANK         26813
80461      9977592        KSQ         RANK         26814
80462      9979636        KSQ         RANK         26815
80463      9979688        KSQ         RANK         26816
80464      9984873        KSQ         RANK         26817
80465      9986601        KSQ         RANK         26818
80466      9987643        KSQ         RANK         26819
80467      9989143        KSQ         RANK         26820
80468      9990162        KSQ         RANK         26821
80469      9990985        KSQ         RANK         26822
80470      9994067        KSQ         RANK         26823
80471      9997240        KSQ         RANK         26824
80476      9989143        KSQ         RANK         26820
80477      9990162        KSQ         RANK         26821
80478      9990985        KSQ         RANK         26822

[26827 rows x 4 columns]

In [156]:
# for  NGE BRANDS
df4 = df1.merge(df2,on = ['CUSTOMER_ID','PRODUCT_ID'])\
.merge(df3,on =['CUSTOMER_ID','PRODUCT_ID']).drop(['SEGMENT_TYPE_x','SEGMENT_TYPE_y','SEGMENT_TYPE'],axis =1)
df4

       CUSTOMER_ID PRODUCT_ID SEGMENT_VALUE_x SEGMENT_VALUE_y SEGMENT_VALUE
0         10100805        KSQ            Land               4             1
1         10100805        KSQ            Land               3             1
2         10100805        KSQ            Land               4             1
3         10100805        KSQ            Land               3             1
4         10113007        KSQ            Land               3             2
5         10113007        KSQ            Land               4             2
6         10113007        KSQ            Land               3             2
7         10113007        KSQ            Land               4             2
8         10116098        KSQ            Land               2             3
9         10133363        KSQ            Land               4             4
10        10162130        KSQ            Land               3             5
11        10171791        KSQ            Land               4             6
12        10177905        KSQ            Land               4             7
13        10206210        KSQ            Land               4             8
14        10208767        KSQ            Land               4             9
15        10215601        KSQ          Expand               4            10
16        10215781        KSQ          Expand               2            11
17        10227240        KSQ            Land               4            12
18        10240962        KSQ            Land               3            13
19        10243364        KSQ            Land               4            14
20        10249573        KSQ            Land               4            15
21        10250551        KSQ            Land               3            16
22        10251389        KSQ            Land               4            17
23        10264102        KSQ            Land               4            18
24        10277601        KSQ            Land               4            19
25        10277876        KSQ            Land               4            20
26        10296054        KSQ            Land               4            21
27        10296332        KSQ            Land               4            22
28        10302823        KSQ          Expand               1            23
29        10309100        KSQ            Land               4            24
...            ...        ...             ...             ...           ...
26803      9951952        KSQ            Land               3         26798
26804      9952604        KSQ            Land               3         26799
26805      9953571        KSQ          Defend               1         26800
26806      9954799        KSQ            Land               4         26801
26807      9954845        KSQ            Land               3         26802
26808      9955661        KSQ            Land               2         26803
26809      9955850        KSQ            Land               4         26804
26810      9959135        KSQ            Land               4         26805
26811      9960417        KSQ          Defend               1         26806
26812      9961922        KSQ          Expand               1         26807
26813      9965075        KSQ            Land               4         26808
26814      9965622        KSQ          Expand               2         26809
26815      9967266        KSQ            Land               4         26810
26816      9968831        KSQ            Land               3         26811
26817      9971102        KSQ          Expand               1         26812
26818      9974753        KSQ            Land               4         26813
26819      9977592        KSQ            Land               4         26814
26820      9979636        KSQ            Land               4         26815
26821      9979688        KSQ            Land               4         26816
26822      9984873        KSQ            Land               4         26817
26823      9986601        KSQ          Expand               4         26818
26824      9987643        KSQ          Defend               1         26819
26825      9989143        KSQ            Land               4         26820
26826      9989143        KSQ            Land               4         26820
26827      9990162        KSQ          Expand               2         26821
26828      9990162        KSQ          Expand               2         26821
26829      9990985        KSQ            Land               4         26822
26830      9990985        KSQ            Land               4         26822
26831      9994067        KSQ            Land               4         26823
26832      9997240        KSQ            Land               3         26824

[26833 rows x 5 columns]

In [206]:
# FOR NON NGE BRANDS
df4 = df2.merge(df3,on = ['CUSTOMER_ID','PRODUCT_ID']).drop(['SEGMENT_TYPE_x','SEGMENT_TYPE_y'],axis =1)
df4

       CUSTOMER_ID PRODUCT_ID SEGMENT_VALUE_x SEGMENT_VALUE_y
0         10100805        KSQ               4               1
1         10100805        KSQ               3               1
2         10113007        KSQ               3               2
3         10113007        KSQ               4               2
4         10116098        KSQ               2               3
5         10133363        KSQ               4               4
6         10162130        KSQ               3               5
7         10171791        KSQ               4               6
8         10177905        KSQ               4               7
9         10206210        KSQ               4               8
10        10208767        KSQ               4               9
11        10215601        KSQ               4              10
12        10215781        KSQ               2              11
13        10227240        KSQ               4              12
14        10240962        KSQ               3              13
15        10243364        KSQ               4              14
16        10249573        KSQ               4              15
17        10250551        KSQ               3              16
18        10251389        KSQ               4              17
19        10264102        KSQ               4              18
20        10277601        KSQ               4              19
21        10277876        KSQ               4              20
22        10296054        KSQ               4              21
23        10296332        KSQ               4              22
24        10302823        KSQ               1              23
25        10309100        KSQ               4              24
26        10311579        KSQ               4              25
27        10314013        KSQ               4              26
28        10320350        KSQ               4              27
29        10324153        KSQ               4              28
...            ...        ...             ...             ...
26799      9951952        KSQ               3           26798
26800      9952604        KSQ               3           26799
26801      9953571        KSQ               1           26800
26802      9954799        KSQ               4           26801
26803      9954845        KSQ               3           26802
26804      9955661        KSQ               2           26803
26805      9955850        KSQ               4           26804
26806      9959135        KSQ               4           26805
26807      9960417        KSQ               1           26806
26808      9961922        KSQ               1           26807
26809      9965075        KSQ               4           26808
26810      9965622        KSQ               2           26809
26811      9967266        KSQ               4           26810
26812      9968831        KSQ               3           26811
26813      9971102        KSQ               1           26812
26814      9974753        KSQ               4           26813
26815      9977592        KSQ               4           26814
26816      9979636        KSQ               4           26815
26817      9979688        KSQ               4           26816
26818      9984873        KSQ               4           26817
26819      9986601        KSQ               4           26818
26820      9987643        KSQ               1           26819
26821      9989143        KSQ               4           26820
26822      9989143        KSQ               4           26820
26823      9990162        KSQ               2           26821
26824      9990162        KSQ               2           26821
26825      9990985        KSQ               4           26822
26826      9990985        KSQ               4           26822
26827      9994067        KSQ               4           26823
26828      9997240        KSQ               3           26824

[26829 rows x 4 columns]

In [157]:
# FOR NGE BRANDS
df4.rename(columns = {'CUSTOMER_ID':'MDM_ID','PRODUCT_ID_x':'PROD','SEGMENT_VALUE_x':'SEGMENT','SEGMENT_VALUE_y':'TIER','SEGMENT_VALUE':'RANK'},inplace = True)
df4

         MDM_ID PRODUCT_ID SEGMENT TIER   RANK
0      10100805        KSQ    Land    4      1
1      10100805        KSQ    Land    3      1
2      10100805        KSQ    Land    4      1
3      10100805        KSQ    Land    3      1
4      10113007        KSQ    Land    3      2
5      10113007        KSQ    Land    4      2
6      10113007        KSQ    Land    3      2
7      10113007        KSQ    Land    4      2
8      10116098        KSQ    Land    2      3
9      10133363        KSQ    Land    4      4
10     10162130        KSQ    Land    3      5
11     10171791        KSQ    Land    4      6
12     10177905        KSQ    Land    4      7
13     10206210        KSQ    Land    4      8
14     10208767        KSQ    Land    4      9
15     10215601        KSQ  Expand    4     10
16     10215781        KSQ  Expand    2     11
17     10227240        KSQ    Land    4     12
18     10240962        KSQ    Land    3     13
19     10243364        KSQ    Land    4     14
20     10249573        KSQ    Land    4     15
21     10250551        KSQ    Land    3     16
22     10251389        KSQ    Land    4     17
23     10264102        KSQ    Land    4     18
24     10277601        KSQ    Land    4     19
25     10277876        KSQ    Land    4     20
26     10296054        KSQ    Land    4     21
27     10296332        KSQ    Land    4     22
28     10302823        KSQ  Expand    1     23
29     10309100        KSQ    Land    4     24
...         ...        ...     ...  ...    ...
26803   9951952        KSQ    Land    3  26798
26804   9952604        KSQ    Land    3  26799
26805   9953571        KSQ  Defend    1  26800
26806   9954799        KSQ    Land    4  26801
26807   9954845        KSQ    Land    3  26802
26808   9955661        KSQ    Land    2  26803
26809   9955850        KSQ    Land    4  26804
26810   9959135        KSQ    Land    4  26805
26811   9960417        KSQ  Defend    1  26806
26812   9961922        KSQ  Expand    1  26807
26813   9965075        KSQ    Land    4  26808
26814   9965622        KSQ  Expand    2  26809
26815   9967266        KSQ    Land    4  26810
26816   9968831        KSQ    Land    3  26811
26817   9971102        KSQ  Expand    1  26812
26818   9974753        KSQ    Land    4  26813
26819   9977592        KSQ    Land    4  26814
26820   9979636        KSQ    Land    4  26815
26821   9979688        KSQ    Land    4  26816
26822   9984873        KSQ    Land    4  26817
26823   9986601        KSQ  Expand    4  26818
26824   9987643        KSQ  Defend    1  26819
26825   9989143        KSQ    Land    4  26820
26826   9989143        KSQ    Land    4  26820
26827   9990162        KSQ  Expand    2  26821
26828   9990162        KSQ  Expand    2  26821
26829   9990985        KSQ    Land    4  26822
26830   9990985        KSQ    Land    4  26822
26831   9994067        KSQ    Land    4  26823
26832   9997240        KSQ    Land    3  26824

[26833 rows x 5 columns]

In [207]:
# FOR NON NGE BRANDS
df4.rename(columns = {'CUSTOMER_ID':'MDM_ID','PRODUCT_ID_x':'PROD','SEGMENT_VALUE_x':'TIER','SEGMENT_VALUE_y':'RANK'},inplace = True)
df4

         MDM_ID PRODUCT_ID TIER   RANK
0      10100805        KSQ    4      1
1      10100805        KSQ    3      1
2      10113007        KSQ    3      2
3      10113007        KSQ    4      2
4      10116098        KSQ    2      3
5      10133363        KSQ    4      4
6      10162130        KSQ    3      5
7      10171791        KSQ    4      6
8      10177905        KSQ    4      7
9      10206210        KSQ    4      8
10     10208767        KSQ    4      9
11     10215601        KSQ    4     10
12     10215781        KSQ    2     11
13     10227240        KSQ    4     12
14     10240962        KSQ    3     13
15     10243364        KSQ    4     14
16     10249573        KSQ    4     15
17     10250551        KSQ    3     16
18     10251389        KSQ    4     17
19     10264102        KSQ    4     18
20     10277601        KSQ    4     19
21     10277876        KSQ    4     20
22     10296054        KSQ    4     21
23     10296332        KSQ    4     22
24     10302823        KSQ    1     23
25     10309100        KSQ    4     24
26     10311579        KSQ    4     25
27     10314013        KSQ    4     26
28     10320350        KSQ    4     27
29     10324153        KSQ    4     28
...         ...        ...  ...    ...
26799   9951952        KSQ    3  26798
26800   9952604        KSQ    3  26799
26801   9953571        KSQ    1  26800
26802   9954799        KSQ    4  26801
26803   9954845        KSQ    3  26802
26804   9955661        KSQ    2  26803
26805   9955850        KSQ    4  26804
26806   9959135        KSQ    4  26805
26807   9960417        KSQ    1  26806
26808   9961922        KSQ    1  26807
26809   9965075        KSQ    4  26808
26810   9965622        KSQ    2  26809
26811   9967266        KSQ    4  26810
26812   9968831        KSQ    3  26811
26813   9971102        KSQ    1  26812
26814   9974753        KSQ    4  26813
26815   9977592        KSQ    4  26814
26816   9979636        KSQ    4  26815
26817   9979688        KSQ    4  26816
26818   9984873        KSQ    4  26817
26819   9986601        KSQ    4  26818
26820   9987643        KSQ    1  26819
26821   9989143        KSQ    4  26820
26822   9989143        KSQ    4  26820
26823   9990162        KSQ    2  26821
26824   9990162        KSQ    2  26821
26825   9990985        KSQ    4  26822
26826   9990985        KSQ    4  26822
26827   9994067        KSQ    4  26823
26828   9997240        KSQ    3  26824

[26829 rows x 4 columns]

In [158]:
# duplicate tiers
duplicate_tier = df4[df4.duplicated(['MDM_ID','TIER'])]
print("Duplicate Rows based on MDM_ID & TIER :")
  
# Print the resultant Dataframe
duplicate_tier

Duplicate Rows based on MDM_ID & TIER :

         MDM_ID PRODUCT_ID SEGMENT TIER   RANK
2      10100805        KSQ    Land    4      1
3      10100805        KSQ    Land    3      1
6      10113007        KSQ    Land    3      2
7      10113007        KSQ    Land    4      2
26826   9989143        KSQ    Land    4  26820
26828   9990162        KSQ  Expand    2  26821
26830   9990985        KSQ    Land    4  26822

In [174]:
# duplicate ranks
duplicate_rank = df4[df4.duplicated(['MDM_ID'])]
print("Duplicate Rows based on MDM_ID & RANK :")
duplicate_rank

Duplicate Rows based on MDM_ID & RANK :

         MDM_ID PRODUCT_ID SEGMENT TIER   RANK
1      10100805        KSQ    Land    3      1
2      10100805        KSQ    Land    4      1
3      10100805        KSQ    Land    3      1
5      10113007        KSQ    Land    4      2
6      10113007        KSQ    Land    3      2
7      10113007        KSQ    Land    4      2
26826   9989143        KSQ    Land    4  26820
26828   9990162        KSQ  Expand    2  26821
26830   9990985        KSQ    Land    4  26822

In [133]:
# Count of records
df4.groupby(['TIER','SEGMENT']).size()

TIER  SEGMENT
1     Defend       422
      Expand      1072
      Land         855
2     Defend       262
      Expand      1226
      Land        1911
3     Expand       422
      Land        3247
4     Expand       605
      Land       16802
dtype: int64

In [187]:
# length check
df4["MDM_ID"]= df4["MDM_ID"].astype(str)
  
# passing values
df4["LENGTH"]= df4["MDM_ID"].str.len()

         MDM_ID PRODUCT_ID SEGMENT TIER   RANK  LENGTH
0      10100805        KSQ    Land    4      1       8
1      10100805        KSQ    Land    3      1       8
2      10100805        KSQ    Land    4      1       8
3      10100805        KSQ    Land    3      1       8
4      10113007        KSQ    Land    3      2       8
5      10113007        KSQ    Land    4      2       8
6      10113007        KSQ    Land    3      2       8
7      10113007        KSQ    Land    4      2       8
8      10116098        KSQ    Land    2      3       8
9      10133363        KSQ    Land    4      4       8
10     10162130        KSQ    Land    3      5       8
11     10171791        KSQ    Land    4      6       8
12     10177905        KSQ    Land    4      7       8
13     10206210        KSQ    Land    4      8       8
14     10208767        KSQ    Land    4      9       8
15     10215601        KSQ  Expand    4     10       8
16     10215781        KSQ  Expand    2     11       8
17     10227240        KSQ    Land    4     12       8
18     10240962        KSQ    Land    3     13       8
19     10243364        KSQ    Land    4     14       8
20     10249573        KSQ    Land    4     15       8
21     10250551        KSQ    Land    3     16       8
22     10251389        KSQ    Land    4     17       8
23     10264102        KSQ    Land    4     18       8
24     10277601        KSQ    Land    4     19       8
25     10277876        KSQ    Land    4     20       8
26     10296054        KSQ    Land    4     21       8
27     10296332        KSQ    Land    4     22       8
28     10302823        KSQ  Expand    1     23       8
29     10309100        KSQ    Land    4     24       8
...         ...        ...     ...  ...    ...     ...
26803   9951952        KSQ    Land    3  26798       7
26804   9952604        KSQ    Land    3  26799       7
26805   9953571        KSQ  Defend    1  26800       7
26806   9954799        KSQ    Land    4  26801       7
26807   9954845        KSQ    Land    3  26802       7
26808   9955661        KSQ    Land    2  26803       7
26809   9955850        KSQ    Land    4  26804       7
26810   9959135        KSQ    Land    4  26805       7
26811   9960417        KSQ  Defend    1  26806       7
26812   9961922        KSQ  Expand    1  26807       7
26813   9965075        KSQ    Land    4  26808       7
26814   9965622        KSQ  Expand    2  26809       7
26815   9967266        KSQ    Land    4  26810       7
26816   9968831        KSQ    Land    3  26811       7
26817   9971102        KSQ  Expand    1  26812       7
26818   9974753        KSQ    Land    4  26813       7
26819   9977592        KSQ    Land    4  26814       7
26820   9979636        KSQ    Land    4  26815       7
26821   9979688        KSQ    Land    4  26816       7
26822   9984873        KSQ    Land    4  26817       7
26823   9986601        KSQ  Expand    4  26818       7
26824   9987643        KSQ  Defend    1  26819       7
26825   9989143        KSQ    Land    4  26820       7
26826   9989143        KSQ    Land    4  26820       7
26827   9990162        KSQ  Expand    2  26821       7
26828   9990162        KSQ  Expand    2  26821       7
26829   9990985        KSQ    Land    4  26822       7
26830   9990985        KSQ    Land    4  26822       7
26831   9994067        KSQ    Land    4  26823       7
26832   9997240        KSQ    Land    3  26824       7

[26833 rows x 6 columns]

In [201]:
# Check any other LENGTH value for MDM ID
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
# file = r'C:\Users\sddhr\Downloads\DA-WS-files\t_change.xlsx'
# output = 'output.xlsx'
engine = create_engine('sqlite://',echo = False)
# df = pd.read_excel(file) 
df4.to_sql('Input',engine,if_exists = 'replace',index = False)
results = engine.execute("SELECT distinct LENGTH FROM Input")
final = pd.DataFrame(results)
# final.to_excel(output,index = False)
final

   0
0  8
1  7

In [208]:
# LOWER TIER SHOULD HAVE BETTER RANKS
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
# file = r'C:\Users\sddhr\Downloads\DA-WS-files\t_change.xlsx'
# output = 'output.xlsx'
engine = create_engine('sqlite://',echo = False)
# df = pd.read_excel(file) 
df4.to_sql('Input',engine,if_exists = 'replace',index = False)
results = engine.execute("SELECT distinct TIER AS PROD_TIER,Max(RANK) AS MAXIMUM,MIN(RANK) AS MINIMUM FROM Input GROUP BY TIER ")
final = pd.DataFrame(results)
# final.to_excel(output,index = False)
final

   0      1   2
0  1  26819  23
1  2  26821   3
2  3  26824   1
3  4  26823   1

In [211]:
# Export the files
datatoexcel = pd.ExcelWriter('Input_tier1.xlsx')
  
# write DataFrame to excel
df4.to_excel(datatoexcel)
  
# save the excel
datatoexcel.save()
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.